.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.header-logo {
    width: 30%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-logo img {
    width: 30%;
    height: 90%;
}

/* MENU */
.header-ul {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.header-ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;
}

.header-ul li a:hover {
    color: #777;
}

@media(max-width:770px) {
    .header {
        height: 186px;
        align-items: center;
        padding: 0;
        flex-direction: column;
        justify-content: space-around;
    }

    .header-logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-ul {
        width: 80%;
        height: 56px;
        justify-content: space-between;
        border-top: 3px solid #888;
    }
}

@media (max-width: 480px) {
    .header-ul {
        gap: 5px;
        align-items: center;
    }

    .header-ul li a {
        font-size: 16px;
    }
}