.section-card {
    width: 100%;
    height: 2250px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 100px;
    justify-content: center;
}

.card-stn {
    width: 360px;
    height: 520px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card-stn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-stn img {
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 8px;
}

.card-stn h3 {
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    min-height: 44px;
}

.card-stn p {
    font-weight: 600;
    font-size: 16px;
    color: #939393;
}

/* BUTTON */
.card-stn button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    position: absolute;
    bottom: 20px;
}

.card-stn:hover button {
    opacity: 1;
    transform: translateY(-10px);
    /* tepaga siljish */
}

.section.dark{
    background-color: #000;
}

/* DARK MODE */
.section.dark .card-stn {
    background: #626262;
}

.section.dark .card-stn h3,
.section.dark .card-stn p {
    color: #fff;
}

.section.dark .card-stn button {
    background: #fff;
    color: #000;
}

/* PAGINATION */
.pagination {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.pagination button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    cursor: pointer;
    transition: 0.2s;
}

.pagination button:hover {
    background: #f0f0f0;
}

.pagination button.active-page {
    border: 2px solid #333;
    background: #333;
    color: #fff;
}

/* DARK PAGINATION */
.section.dark .pagination button {
    border-color: #555;
    background: #333;
    color: #fff;
}

.section.dark .pagination button.active-page {
    background: #fff;
    color: #000;
    border-color: #fff;
}

/* RESPONSIVE */
@media (max-width: 770px) {
    .card-stn {
        max-width: 320px;
        height: 480px;
    }

    .card-stn img {
        height: 260px;
    }
}

@media (max-width: 480px) {
    .card-stn {
        max-width: 280px;
        height: 440px;
    }

    .card-stn img {
        height: 220px;
    }

    .card-stn h3 {
        font-size: 16px;
    }

    .card-stn p {
        font-size: 14px;
    }
}